<div [@routerTransition]>
  <app-page-header [heading]="'Billing Setup'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new"></div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Company Name</th>
                  <th>Address</th>
                  <th>PAN</th>
                  <th>GSTIN</th>
                  <th>CIN</th>
                  <th>State</th>
                  <th>State Code</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>vinay power tools</td>
                  <td>miyapur,allown X road</td>
                  <td>AIUTY0000E</td>
                  <td>36AIUTY0000E1EE</td>
                  <td>L12345AP2014APS123456</td>
                  <td>TELANGANA</td>
                  <td>36</td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">Billing Details</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="email">Company Name:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Address</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="email">PAN</label>
                  <input type="text" class="form-control" id="mobile">
                </div>
                <div class="form-group">
                  <label for="pwd">State</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">State Code</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">GSTIN</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">CIN</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">Company Logo Upload</label>
                  <input type="file" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">Contact No</label>
                  <input type="password" class="form-control" id="pwd">
                </div>

                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>