<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            {{heading}}
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>
                    <i class="fa fa-dashboard padd_r_5"></i>
                    <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
                </span>
            </li>
            <li class="breadcrumb-item active">
                <span>
                    <i class="fa {{icon}} padd_r_5"></i> {{heading}}
                </span>
            </li>
        </ol>
    </div>
</div>