<div>
  <app-page-header [heading]="'Marketing-Department'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card_header_new">Price List</div>
        <div class="card_body_new table-responsive">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>S.No</th>
                <th>WH Name</th>
                <th>Product ID</th>
                <th>Brand</th>
                <th>Model No</th>
                <th>HSN</th>
                <th>Prod Desc</th>
                <th>Landing Price</th>
                <th>EndUser price</th>
                <th>MRP</th>
                <th>BulkUnit price</th>
                <th>Bulk Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Default</td>
                <td>001101103000200</td>
                <td>Bosch</td>
                <td>GBH200</td>
                <td>84672100</td>
                <td>620W Rotary Hammer Bosch GBH200</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>