<div [@routerTransition]>
  <app-page-header [heading]="'Warehouse-Department'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new">Warehouse Barcode</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Barcode</th>
                  <th>Model No</th>
                  <th>Qty</th>
                  <th>From SMT</th>
                  <th>To SMT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>123456</td>
                  <td>3432423</td>
                  <td>5</td>
                  <td>22-3-2018</td>
                  <td>22-8-2018</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">Warehouse Barcode</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="email">Invoice No:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="button_center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card_body_new table-responsive">
      <div class="col-xl-12">
        <div class="col-sm-8">
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email-id</th>
                <th>Mobile</th>
                <th>User Type</th>
                <th>More-info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>admin</td>
                <td>smthub.2017@gmail.com</td>
                <td>8885060326</td>
                <td>Admin</td>
                <td>
                  <span class="round_info_icons">
                    <a title="Delete" href="#" class="text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->