<div [@routerTransition]>
  <app-page-header [heading]="'Bank Configuration- Add Your Bank Info'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new">Bank Details</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>A/c No</th>
                  <th>Holder Name</th>
                  <th>A/c Type</th>
                  <th>Bank</th>
                  <th>IFSC</th>
                  <th>MICR</th>
                  <th>VPA</th>
                  <th>Branch</th>
                  <th>Branch Address</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>59000676000001121</td>
                  <td>Tinku Tools</td>
                  <td>Current</td>
                  <td>AXIS BANK</td>
                  <td>UTIB0000373</td>
                  <td>400211033</td>
                  <td>abc@upi</td>
                  <td>AXIS BANK</td>
                  <td>Manish Chambers, Commercial Complex CTS. 87/A, Sonawala Road</td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">Bank Info</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="email">Bank A/C Number:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">A/C Holder Name</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="email">Account Type</label>
                  <input type="text" class="form-control" id="mobile">
                </div>
                <div class="form-group">
                  <label for="pwd">Bank Name</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">IFSC Code</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">MICR Code</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">Enter Your VPA</label>
                  <input type="password" class="form-control" id="pwd">
                </div>

                <div class="form-group">
                  <label for="pwd">Branch Name</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="pwd">Branch Address</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>