<div [@routerTransition]>
  <app-page-header [heading]="'Comapny Setup'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new">Comapny Setup</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Company Name</th>
                  <th>Address</th>
                  <th>PAN</th>
                  <th>GSTIN</th>
                  <th>CIN</th>
                  <th>State</th>
                  <th>State Code</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Golden Sun Technology Private Ltd</td>
                  <td>A-201, The Platina, Gachibowli 500081, Miyapur Main Rd, Anjaiah Nagar, Hyderabad, Telangana</td>
                  <td>AAGCG4402R</td>
                  <td>38AAGCG4402R3ZA</td>
                  <td>U74999TG2016PTC110813</td>
                  <td>TELANGANA</td>
                  <td>36</td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">Company Info</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="name">Company Name</label>
                  <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea class="form-control" name="address"></textarea>
                </div>
                <div class="form-group">
                  <label for="pan">PAN</label>
                  <input type="text" class="form-control" name="pan">
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <select class="form-control" name="state">
                    <option>Select state</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="scode">State Code</label>
                  <input type="text" class="form-control" name="scode">
                </div>
                <div class="form-group">
                  <label for="gstin">GSTIN</label>
                  <input type="text" class="form-control" name="gstin">
                </div>
                <div class="form-group">
                  <label for="cin">CIN</label>
                  <input type="text" class="form-control" name="cin">
                </div>
                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>