/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.all_tables thead tr th{
    background:#37475a;
    color:#fff;
    font-size: 12px;
    padding: 5px 10px;
}
.all_tables tbody tr td{
    font-size: 10px;
    padding: 5px 10px;
}

.round_info_icons a{
    font-size: 10px;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 10%;
    color: #fff;
}
.card{
    background: white;
    box-shadow: 0px 1px 8px 3px #ddd;
}
.card_body_new{
    padding: 5px 20px;
}
.card_header_new{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    color: #232f3e;
}
.card-header.side{
    background: #37475a;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}
.override label{
    font-size: 12px;
}
.override .form-group {
     margin-bottom: 5px;
}
.override .form-control{
    padding: 0px;
}
.breadcrumb li span{
    font-size: 12px;
}
.padd_r_5{
    padding-right: 5px;
}
.breadcrumb {
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px #b9b9b9;
    background-color: #e4e4e4;
}
.pagination {
    float: right;
    padding-right: 20px;
    margin-top: -10px;
}
.page-header{
    font-size: 20px;
    font-weight: 600;
    color: #232f3e;
}
.sidebar[_ngcontent-c3] .list-group[_ngcontent-c3] a[_ngcontent-c3]:hover {
    border-left: 3px solid red !important;
}
.sidebar[_ngcontent-c3] .list-group[_ngcontent-c3] a[_ngcontent-c3]:focus {
    border-left: 3px solid red !important;
}
[_nghost-c2] .messages[_ngcontent-c2] {
    left: -72px !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    left: -110px !important;
}
.search{
    float: right;
}
.search .search_control{
    padding: 5px;
    margin-bottom: 5px;
}
.dashboard {
    font-size: 25px;
    font-weight: 600;
    color: #232f3e;
}
.logo{
    width:7%;
}
.button_center{
    text-align: center;
    margin-top: 20px;
}
.button_center button{
    font-size: 12px;
}

 /* MAIN-DASHBOARD VIEWS START HERE */
.views{
    margin: 15px 0;
}
.widget{
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #f7f7f7;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #e9e9e9;
    width: 19%;
    float: left;
    margin: 5px 5px;
    box-shadow: 3px 3px 8px #ddd;
    cursor: pointer;
}
.widget .widget-body {
    padding: 20px;
}
.widget .widget-icon {
    background: #30426a;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -7px;
}
.green {
    background: #23ae89!important;
}
.widget .widget-icon i {
    line-height: 66px;
    color: #fff;
    font-size: 30px;
}
.widget .title {
    font-size: 20px;
    display: block;
    font-weight: 600;
}
.widget .comment {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #8e8c8c;
}
.blue {
    background: #2361ae!important;
}
.orange {
    background: #d3a938!important;
}
.red {
    background: #ae2323!important;
}
 /* MAIN-DASHBOARD VIEWS end HERE */

 /*side name board start here */
 .profile_img{
    float: left;
 }
 .pro_pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.pro_info .pro_name {
    padding-top: 3px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pro_info .pro_wish {
    font-size: 12px;
}
.pro_info {
    padding: 5px 0 0 16px;
    color: #fff;
}
.marg_tb_10{
    margin-bottom: 10px;
    margin-top: 10px;
}
/*side name board end here */