<div [@routerTransition]>
    <h2 class="dashboard">Admin - Dashboard</h2>
    <div class="display_profile_block">
        <!-- <div class="title_name theme_color">
                Title Information
            </div> -->

        <div class="row">
            <div class="col-xl-12 views">

                <div class="col-xl-3111">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="widget-icon green pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="title">5</div>
                            <div class="comment">Supplier</div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3111">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="widget-icon red pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="title">6</div>
                            <div class="comment">Dealer</div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3111">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="widget-icon orange pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="title">2</div>
                            <div class="comment">Service</div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3111">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="widget-icon blue pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="title">2</div>
                            <div class="comment">Warehouse</div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3111">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="widget-icon green pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="title">698</div>
                            <div class="comment">Reg.Products</div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3111">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="widget-icon blue pull-left">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="title">121</div>
                                <div class="comment">WH Stocks</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-3111">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="widget-icon orange pull-left">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="title">47</div>
                                <div class="comment">POS Stock</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-3111">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="widget-icon red pull-left">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="title">8</div>
                                <div class="comment">Coupons</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-3111">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="widget-icon green pull-left">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="title">687</div>
                                <div class="comment">Non Moving Products</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-3111">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="widget-icon orange pull-left">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="title">7</div>
                                <div class="comment">No of Shops</div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>