<div [@routerTransition]>
  <app-page-header [heading]="'User Details'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new">User Details</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>User Type</th>
                  <th>User Role</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>dealer</td>
                  <td>dealer</td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">User Details</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="usertype">User Type</label>
                  <input type="text" class="form-control" name="usertype">
                </div>
                <div class="form-group">
                  <label for="userRole">User Role</label>
                  <input type="text" class="form-control" name="userRole">
                </div>
                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>