<div>
  <app-page-header [heading]="'Warehouse-Department'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card_header_new">Shop Order List - View Previous Orders</div>
        <div class="card_body_new table-responsive">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Warehouse Name</th>
                <th>Shop Name</th>
                <th>Shop ID</th>
                <th>Shop Address</th>
                <th>Dealer ID</th>
                <th>Shop Purchse Order No</th>
                <th>PO-Date</th>
                <th>Status</th>
                <th>More-info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Any WH</td>
                <td>Standard Tools</td>
                <td>1001</td>
                <td>2-1-23/H140, Near JNTU, Kukatpally, Hyderabad</td>
                <td>360001</td>
                <td>SPO170720180001</td>
                <td>17-07-2018</td>
                <td>Delivered</td>
                <td>
                  <span class="round_info_icons">
                    <a title="Delete" href="#" class="text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a title="View More" href="#" class="text-primary">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>