<div>
  <app-page-header [heading]="'Shop Setup -To Setup A Shop'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card_header_new">Shop Details</div>
        <div class="card_body_new table-responsive">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Email-id</th>
                <th>Phone</th>
                <th>Dealer Name</th>
                <th>option</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1001</td>
                <td>Standard Tools</td>
                <td>2-1-23/H140, Near JNTU, Kukatpally, Hyderabad</td>
                <td>500072</td>
                <td>78.3932993</td>
                <td>17.4919962</td>
                <td>bala@goldensuntechnology.com</td>
                <td>9866218421</td>
                <td>Bala QA</td>
                <td>
                  <span class="round_info_icons">
                    <a title="Delete" href="#" class="text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>

                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>