<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>SignUp</h1>
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <!-- <h1>SB Admin BS4 Angular5</h1> -->
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="fullname" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="CountryCode" placeholder="Country Code">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="Mobile" placeholder="Mobile No">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="pwd" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="cnfrmpwd" placeholder="Repeat Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>