<div [@routerTransition]>
  <app-page-header [heading]="'TAX & Discount Configuration'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new">TAX Master</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>TAX ID</th>
                  <th>TAX Name</th>
                  <th>TAX Rate(%)</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>101</td>
                  <td>gst-10</td>
                  <td>10.00</td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">TAX Details</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="taxid">TAX ID</label>
                  <input type="text" class="form-control" name="taxid">
                </div>
                <div class="form-group">
                  <label for="taxname">TAX Name</label>
                  <input type="text" class="form-control" name="taxname">
                </div>
                <div class="form-group">
                  <label for="taxrate">TAX Rate(%)</label>
                  <input type="text" class="form-control" name="taxrate">
                </div>
                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- another date block -->
    <div class="card_header_new">Discount Master</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Discount ID</th>
                  <th>Discount Name</th>
                  <th>Discount Rate(%)</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>101</td>
                  <td>gst-10</td>
                  <td>10.00</td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">Discount Details</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="descid">Discount ID</label>
                  <input type="text" class="form-control" name="descid">
                </div>
                <div class="form-group">
                  <label for="descname">Discount Name</label>
                  <input type="text" class="form-control" name="descname">
                </div>
                <div class="form-group">
                  <label for="descrate">Discount Rate(%)</label>
                  <input type="text" class="form-control" name="descrate">
                </div>
                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>