<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">

    <div class="list-group">

        <div class="marg_tb_10">
            <div class="profile_img">
                <img class="pro_pic" src="http://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_2fd3e8.svg">
            </div>
            <div class="pro_info">
                <div class="pro_wish">Hello,</div>
                <div class="pro_name">Neelima Durga</div>
            </div>
        </div>

        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Admin Dashboard' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('users_list')">
                <span>
                    <i class="fa fa-users"></i>&nbsp; {{ 'Users' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'users_list'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/dealer" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Distributor / Dealer' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/supplier" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Supplier' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/serviceCenter" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Service Center' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/usersList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Users List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a routerLink="/productList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-product-hunt"></i>&nbsp;{{ 'Product-List' | translate }}
            </a>
        </div>



        <!-- <a routerLink="/productList" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-product-hunt"></i>&nbsp;{{ 'Product-List' | translate }}
        </a> -->

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('purchase')">
                <span>
                    <i class="fa fa-university"></i>&nbsp; {{ 'Purchase-Department' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'purchase'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/purchaseOrderHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Purchase Order history' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('warehouse')">
                <span>
                    <i class="fa fa-university"></i>&nbsp; {{ 'Warehouse-Department' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'warehouse'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/warehouseList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Warehouse List' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/whproductInvoice" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'WH-In-House Product Inv' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopOrderHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Order History' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopInvoiceHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Invoice History' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/whbarcode" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'WH-Barcode' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('dealer')">
                <span>
                    <i class="fa fa-university"></i>&nbsp; {{ 'Dealer-Department' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'dealer'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/shopList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop List' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopUsers" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop User' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopOrderHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Order History' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopInvoiceHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Invoice History' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('marketing')">
                <span>
                    <i class="fa fa-university"></i>&nbsp; {{ 'Marketing-Department' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'marketing'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/priceList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Price List' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopOrderHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Order History' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopInvoiceHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Invoice History' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/fairContact" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Fair Contactt' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('accounts')">
                <span>
                    <i class="fa fa-university"></i>&nbsp; {{ 'Accounts-Department' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'accounts'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/purchaseOrderHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Purchase Order history' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopOrderHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Order History' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shopInvoiceHistory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Shop Invoice History' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a routerLink="/promotions" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-tags"></i>&nbsp;{{ 'Promotions' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('siteSetup')">
                <span>
                    <i class="fa fa-sitemap"></i>&nbsp; {{ 'Site-Setup' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'siteSetup'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/addBanner" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Add Banner' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/collections" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Collections' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/createBrand" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Create Brand' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/footerSetup" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Footer Setup' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/headerSetup" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Header Setup' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/review" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Review Verification' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/discount" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Discount' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('settings')">
                <span>
                    <i class="fa fa-cog"></i>&nbsp; {{ 'Settings' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'settings'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/billingInfo" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Billing Info' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/bankConfig" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Bank Configuration' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/companyInfo" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Company Info' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/headerInfo" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Header Info' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/masterProducts" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Master Products' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/taxNdiscountConfig" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Tax & Discount Configuration' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/serviceTaxConfig" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Service Tax Configuration' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/userType" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'User Type' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/countries" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Countries' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/masterBrandConfig" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Master Brand Configuration' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>



        <!-- other links -->
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a> -->
        <!-- <a class="list-group-item more-themes" href="http://www.strapui.com/">
            {{ 'More Theme' | translate }}
        </a> -->
        <div class="header-fields">
            <!-- <a (click)="rltAndLtr()" class="list-group-item">
                <span>
                    <i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a> -->

            <!-- <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span>
                        <i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }}
                        <b class="caret"></b>
                    </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div> -->

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>