<div [@routerTransition]>
  <app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card_header_new">Dealer Details</div>
        <div class="card_body_new table-responsive">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Dealer Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Shop Name</th>
                <th>Registered On</th>
                <th>Status</th>
                <th>User-id</th>
                <th>More-info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Bala QA</td>
                <td>bala@goldensuntechnology.com</td>
                <td>@ 9866218421</td>
                <td>Standard Tools</td>
                <td>21-06-18</td>
                <td>Active</td>
                <td>360001</td>
                <td>
                  <span class="round_info_icons">
                    <a title="Active" href="#" class="text-success">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a title="Reject" href="#" class="text-danger">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <a title="Delete" href="#" class="text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a title="View More" href="#" class="text-primary">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>