<!-- <p>
  dealer works!
</p> -->

<div>
  <app-page-header [heading]="'Warehouse-Department'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card_header_new">Warehouse Manager Setup Details</div>
        <div class="card_body_new table-responsive">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>S.No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email-Id</th>
                <th>Mobile</th>
                <th>WH-Manager</th>
                <th>More-info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>100</td>
                <td>WH KATEDAN</td>
                <td>KATEDAN, HYDERABAD</td>
                <td>kishan@goldensuntechnology.com</td>
                <td>9700958256</td>
                <td>Kishan</td>
                <td>
                  <span class="round_info_icons">
                    <a title="Delete" href="#" class="text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>