<div>
  <app-page-header [heading]="'Shop User - To Create A New User In Shop'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card_header_new">Shop User Details</div>
        <div class="card_body_new table-responsive">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <table class="table table-bordered table-striped all_tables">
            <thead>
              <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Email-id</th>
                <th>Mobile No</th>
                <th>Shop</th>
                <th>Created By</th>
                <th>Create Date</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1000</td>
                <td> Bala subrahmanyam</td>
                <td>bala@goldensuntechnology.com</td>
                <td>9866218421</td>
                <td>Standard Tools</td>
                <td>Bala QA</td>
                <td>21/6/2018</td>
                <td>
                  <span class="round_info_icons">
                    <a title="Delete" href="#" class="text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>

                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>