<div [@routerTransition]>
  <app-page-header [heading]="'Master Product details'" [icon]="'fa-table'"></app-page-header>
  <div class="card mb-3 override">
    <div class="card_header_new">Categoryp</div>
    <div class="card_body_new">
      <div class="row">

        <div class="col-sm-8">
          <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2 search_control" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped all_tables">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Category ID</th>
                  <th>Category</th>
                  <th>Tags</th>
                  <th>MetaDescription</th>
                  <th>Keywords</th>
                  <th>option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>101</td>
                  <td>Power Tools</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <span class="round_info_icons">
                      <a title="Delete" href="#" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col-sm-4">

          <div class="card mb-3">
            <div class="card-header side">Category Info</div>
            <div class="card-body">

              <form action="/action_page.php">
                <div class="form-group">
                  <label for="name">Category ID</label>
                  <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                  <label for="pan">Category</label>
                  <input type="text" class="form-control" name="pan">
                </div>
                <div class="form-group">
                  <label for="address">Tags</label>
                  <textarea class="form-control" name="address"></textarea>
                </div>
                <div class="form-group">
                  <label for="address">Meta Description</label>
                  <textarea class="form-control" name="address"></textarea>
                </div>
                <div class="form-group">
                  <label for="address">Keywords</label>
                  <textarea class="form-control" name="address"></textarea>
                </div>
                <div class="button_center">
                  <button type="submit" class="btn btn-primary">Save Details </button>
                </div>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>